---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tengiz - Homepage">
	<!-- <Welcome /> -->
	<main>
		<center><h1>News and Updates.</h1></center>
	</main>
	<hr>
	<h2>



	<p>
		====================================================================================================================================
		<br>
		[21-07-2026] (Website Build - 210720261342)
		<br>
		====================================================================================================================================
		<p id = "upd1">
			Updated Website to show the changes Made in 21 07 2026 12:24 
		</p>
		<br>


	</p>
	<br>
	<p>
		====================================================================================================================================
		<br>
		[21-07-2026] (Website Build - 210720261224)
		<br>
		====================================================================================================================================
		<p id = "upd1">
			This is the First Update Section in the site, In the current Update i tried adding a dropdown box for the games menu, but can not figure that out so, I decided to test out an aero theme and now, some of the menus are basic aero themed!
		</p>
		<br>


	</p>
	<br>
		<p>
		====================================================================================================================================
		<br>
			[12-07-2026] (Project Sofia)
			<br>
			====================================================================================================================================
			<p id = "upd1">
				So in July 12th, we decided to discontinue work on Project Sofia, unfortunately we don't have much experience in game dev so the project basically was really hard to work on 
			</p>
		</p>
	</h2>

</Layout>

<style>
	main {
		color: yellow;
		padding-top: 60px;
		padding-left: 780px;
	}
	p {
		padding-left:  25px;
		padding-right:  5px;
		color :rgb(141, 211, 211)
	}
	#upd1 {
		color : rgb(233, 173, 173);
	}
</style>

