---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tengiz - Homepage">
	<!-- <Welcome /> -->
	<main>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
		<h1>Smth</h1>
	</main>
</Layout>

<style>
	main {
		color: white;
		padding-top: 40px;
	}
</style>

