---
import '../pages/styling/accountstyle.css'
//import '../pages/styling/accountstyle.css'
---
<!DOCTYPE html>

<html>
    <head>
        <title > Setup Account</title>
    </head>

    <body>
        <h1 id = "text-spaced">
            Setup Account
        </h1>

        <h1>
           <h3 id = "text-username" >
                Type Username
           </h3>
           <input id = "user-box" type = "text" placeholder="Enter username..">
           <h3 id = "text-password">
                Type Password
           </h3>
            <input id = "pass-box" type = "password" placeholder="Enter password..">
            <h3 id = "text-re-password">
                Re-enter password
            </h3>
            <input id = "pass-box-2" type = "password" placeholder="Re-enter password..">
        
        <a href = "../">
         <button id = "but-1"> Enter </button>    
        </a>   
        </h1>

    
    


    </body>

</html>
