<aside class="sidebar" id="home-sidebar">
    <ul>
        <li><p>Smth</p></li>
    </ul>
</aside>

<main>

</main>

<style>
    .sidebar {
        position: sticky;
        height: 100vh;
        width: clamp(200px, 15vw, 320px);
        overflow-y: auto;
        background-color: #1B1B1B;
    }
</style>

