---
const { title = "Tengiz" } = Astro.props;
import background from "../assets/background.jpg";
import Header from '../components/Header.astro';
import Analytics from '@vercel/analytics/astro';
import Sidebar from '../components/Sidebar.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/TengizLogo3.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<!-- <body style={`background-image:url(${background.src}); background-size: cover`}> -->
	<body>
		<div id="loader"><p style={`z-index: 9999;`}>Loading...</p></div>
		
		<Analytics />
		<Header />
		<!-- <Sidebar /> -->
		<slot />
	</body>
</html>

<style>
	#loader {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		inset: 0;
		background: black;
		z-index: 9998;
		opacity: 1;
		transition: opacity 1s ease;
	}

	#loader p {
		color: white;
		font-size: 1.2rem;
		font-family: HelveticaNowText;
	}

	#loader.hide {
		opacity: 0;
		pointer-events: none;
	}

	@font-face {
        font-family: HelveticaNowText;
        font-style: normal;
        font-weight: 400;
        src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/63cfc284c204bd1597bc68464e18042b.woff) format("woff");
    }
	html,
	body {
		/* background-image: url(../assets/test.png);
		background-size: 64px; */
		background: linear-gradient(#1f1f31,#4c4c79); /* So over here is Background of the main page */
		margin: 0;
		width: 100%;
		height: 100%;
	}
	
</style>

<script>
	const MIN_TIME = 500;
	const start = performance.now();
	const loader = document.getElementById("loader");

	window.addEventListener("load", () => {
		const elapsed = performance.now() - start;

		setTimeout(() => {
			loader?.classList.add("hide");
		}, Math.max(0, MIN_TIME - elapsed));
	});
</script>
